<div class="w-full h-full flex flex-col justify-center items-center mt-7">
    @defer (when toast()) { @if (toast()) {
    <app-toast [toastMessage]="toastMessage" [error]="error"></app-toast>
    } }
    <div class="w-full justify-center max-w-xs">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label for="deckForm" class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Novo Baralho
        </label>
                <input id="deckForm" [formControl]="deckForm" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Nome do Baralho">
            </div>
            <div class="flex items-center justify-between">
                <button (click)="createNewDeck()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="button">
          Criar
        </button>
            </div>
        </form>
    </div>
    <div class="w-4/5">
        <app-deck-details (cardsToSave)="cardsToSaveReturned($event)"></app-deck-details>
    </div>
</div>