<!-- @if (cards.length) { @for(cards of cardsFormatedToView; track $index){
<div class="flex flex-row w-full h-full z-0">

    @for (card of cards; track card.id) {
    <div class="flex flex-col w-full static hover:z-10">
        <app-card-view [card]="card"></app-card-view>
    </div>
    }
</div>


}@empty { Lista Vazia } }@else {
<p>Carregando</p>
} -->

<div class="w-auto flex flex-wrap justify-start min-w-80">
    @if (cards.length) { @for(card of cards; track $index){
    <div class="flex flex-wrap w-auto h-72 hover:z-10 mb-3 ">
        <app-card-view class="w-auto min-w-52" [card]="card"></app-card-view>
    </div>

    }@empty { Lista Vazia } }@else {
    <p>Carregando</p>
    }
</div>