<div class="w-auto flex flex-wrap justify-start min-w-80">
    @for(card of cards(); track $index){ @defer (on viewport) {

    <div class="w-full flex felx-col" (click)="cardClicked(card)">
        <igx-list class="w-full list-sample mb-2">
            <igx-list-item [isHeader]="true">{{card.supertype}}</igx-list-item>
            <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content">
                <igx-avatar igxListThumbnail [src]="'assets/backcard.jpg'" shape="circle"></igx-avatar>
                <span igxListLineTitle>{{ card.name }}</span>
                <span igxListLineSubTitle>@for (type of card.types; track $index) { <span>{{type}} </span> }</span>

            </igx-list-item>
        </igx-list>
    </div>
    } @placeholder {
    <p class="mt-12 text-white">load</p> } }
</div>