<div class="w-full h-full flex flex-col justify-center justify-items-center items-center align-middle">
    @defer (when toast) { @if(toast){
    <div class="w-full flex justify-center absolute top-0 z-50">
        <app-toast class="relative transition-all duration-500"></app-toast>
    </div>
    } }
    <div>
        <h4 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Cartas no seu Deck</h4>

    </div>
    <div class="w-10/12">

        <div>

            @if (cardsInDeck && cardsInDeck.length) {
            <div>
                <div class="w-auto flex flex-wrap justify-start min-w-80">
                    @if (cardsInDeck.length) { @for(card of cardsInDeck; track $index){
                    <div class="flex flex-wrap w-auto h-72 hover:z-10 mb-3 ">
                        <app-card-view (click)="addCardsOutDeck(card)" class="w-auto min-w-52" [card]="card"></app-card-view>
                    </div>
                    }@empty { Lista Vazia } }@else {
                    <p>Carregando</p>
                    }
                </div>
            </div>
            }
        </div>
    </div>

    <div>
        <div>
            @if (!addCard) {
            <button (click)="showCardsToAdd()" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                        Adicionar Cartas
                    </button> }@else {
            <button (click)="saveAllCardsAddInDeck()" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                        Salvar Baralho
                    </button> }
        </div>

    </div>

    @defer (when addCard) { @if (cardsOutDeck) {
    <div class="mb-9">
        <h4 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Clique nas cartas que deseja adicionar ao seu deck</h4>
    </div>
    <div class="w-10/12">

        <div>
            <div class="w-auto flex flex-wrap justify-start min-w-80">
                @if (cardsOutDeck.length) { @for(card of cardsOutDeck; track $index){
                <div class="flex flex-wrap w-auto h-72 hover:z-10 mb-3 ">
                    <app-card-view (click)="addCardsInDeck(card)" class="w-auto min-w-52" [card]="card"></app-card-view>
                </div>
                }@empty { Lista Vazia } }@else {
                <p>Carregando</p>
                }
            </div>
        </div>
    </div>

    } }

</div>