<div class="w-full h-full flex flex-col justify-center justify-items-center items-center align-middle mb-10">
    @defer (when toast) { @if(toast){
    <div>
        <app-toast [error]="errorToast" [toastMessage]="toastMessage" class="relative transition-all duration-500"></app-toast>
    </div>
    } }
    <div class="flex">
        <div class="mr-10">

            <button (click)="save()" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                        Salvar Baralho
                    </button>
        </div>


    </div>
    <div class="w-10/12 flex min-h-96 h-96 flex-row flex-nowrap overflow-x-scroll overflow-y-visible justify-sta max-w-7xl mt-6">
        @for (card of cardsInDeck(); track $index) { @defer (on viewport) {
        <div class="min-w-72 overflow-y-visible">
            <app-card-view class="w-full h-full" [card]="card"></app-card-view>
        </div>
        }@placeholder {
        <div class="w-full flex justify-end">
            <p>load</p>
        </div>
        } }
    </div>
    <div class="w-10/12 flex  flex-row flex-wrap justify-center">

        <div class="w-5/12 min-w-96 h-96 m-8 overflow-y-scroll flex-wrap">
            <div>
                <h6 class="mb-4 text-nowrap text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Cartas no seu Deck</h6>
            </div>
            <div>
                <app-list [cards]="cardsInDeck()" (clickedCard)="addCardsOutDeck($event)"></app-list>
            </div>
        </div>


        <div class="w-5/12 min-w-96 h-96 m-8 overflow-y-scroll flex-wrap">
            <div>
                <h6 class="mb-4 text-nowrap text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Cartas disponiveis para adicionar</h6>
            </div>
            <div>
                <app-list [cards]="cardsOutDeck()" (clickedCard)="addCardsInDeck($event)"></app-list>
            </div>
        </div>

    </div>


    <div class="w-full min-w-96 flex justify-center ">
        <div class="w-full flex justify-center mt-5 flex-wrap">
            <div class="w-1/3  mt-5">
                <app-details-types [message]="'Tipos de Pokemon'" [cards]="cardsInDeck()" [atribute]="'types'"></app-details-types>
            </div>
            <div class="w-1/3  mt-5">
                <app-details-types [message]="'Tipos de Card'" [cards]="cardsInDeck()" [atribute]="'supertype'"></app-details-types>
            </div>
            <div class="w-1/3  mt-5">
                <app-details-types [message]="'Quantidade de Pokemon por nome'" [cards]="cardsInDeck()" [atribute]="'name'"></app-details-types>
            </div>
        </div>
    </div>


</div>