<div class="w-full flex justify-center items-center h-full relative">
    <div class="w-10/12 bg-slate-400 principal-div h-10/12 pb-7  rounded-3xl">
        <div class="w-full header-div rounded-tr-3xl rounded-tl-3xl">
            <h6>Home</h6>
        </div>
        @if (!loading) {
        <div class="">
            <div class="w-11/12 flex justify-center items-center p-10 m-auto rounded-3xl">
                <h1 class="text-white">Bem vindo ao projeto Poke Card</h1>
            </div>
        </div>
        } @if(loading){
        <div class="w-full flex justify-center button-home p-10">
            <app-loading></app-loading>

        </div>

        }
        <div class="flex flex-row mt-40 flex-wrap button-home">
            <div [routerLink]="deckview" class="w-1/4 min-w-52 mt-4 bg-fuchsia-700 flex justify-center items-center p-4 m-auto rounded-3xl cursor-pointer">
                <h4 class="text-white">Veja seus Baralhos</h4>
            </div>
            <div [routerLink]="createdeck" class="w-1/4 min-w-52 mt-4 bg-fuchsia-700 flex justify-center items-center p-4 m-auto rounded-3xl cursor-pointer">
                <h4 class="text-white">Criar Baralho</h4>
            </div>
            <div [routerLink]="listRoute" class="w-1/4 min-w-52 mt-4 bg-fuchsia-700 flex justify-center items-center p-4 m-auto rounded-3xl cursor-pointer">
                <h4 class="text-white">Veja seus Baralhos</h4>
            </div>
        </div>
    </div>

</div>