<div class="w-full flex justify-center items-center h-full relative">
    <div class="w-10/12 bg-white h-10/12 pt-7 pb-7  rounded-3xl container shadow-emerald-700">
        <div class="">
            <div class="w-11/12 flex justify-center items-center p-10 m-auto rounded-3xl">
                <h1 class="text-gray-800">Bem vindo ao projeto Pokemon Card Game</h1>
            </div>
        </div>
        <div class="flex flex-row mt-40 flex-wrap">
            <div [routerLink]="listRoute" class="w-1/4 min-w-52 mt-4 bg-cyan-500 flex justify-center items-center p-4 m-auto rounded-3xl cursor-pointer">
                <h4 class="text-white">Veja seus Baralhos</h4>
            </div>
            <div [routerLink]="listRoute" class="w-1/4 min-w-52 mt-4 bg-cyan-500 flex justify-center items-center p-4 m-auto rounded-3xl cursor-pointer">
                <h4 class="text-white">Veja seus Baralhos</h4>
            </div>
            <div [routerLink]="listRoute" class="w-1/4 min-w-52 mt-4 bg-cyan-500 flex justify-center items-center p-4 m-auto rounded-3xl cursor-pointer">
                <h4 class="text-white">Veja seus Baralhos</h4>
            </div>
        </div>


    </div>



</div>