<div class="w-full flex flex-col justify-center items-center h-full relative">
    <div>
        <h1>Decks</h1>
    </div>

    <div>
        @for(deck of decks; track $index){
        <div id={{deck.id}} class="w-auto h-auto flex flex-col justify-center items-center bg-gray-400 p-5 rounded-3xl shadow-black">
            <div class="flex flex-col justify-center items-center">
                <h6>{{deck.name}}</h6>
            </div>
            <div class="w-auto h-auto">
                <img class="w-full h-full" src="assets/backcard.jpg" />
            </div>
            <div class="flex flex-col justify-center items-center">
                <button [routerLink]="deckdetails" [queryParams]="{ deckId: deck.id }" class="bg-white p-2 mt-3 rounded-3xl">Ver Detalhes</button>
            </div>
        </div>

        }
    </div>

</div>