<div class="w-full  h-full flex justify-center">
    <div class="w-5/6 flex justify-center flex-col items-center align-middle central-div">
        <div class="flex justify-center items-center align-middle w-full sub-div-first">
            <h5>Seus Baralhos</h5>
        </div>

        <div class="w-full flex flex-row justify-center flex-wrap">
            @for(deck of decks; track $index){
            <div id={{deck.id}} class="w-1/5 min-w-56 min-h-80 m-5 flex flex-col justify-center items-center deck pb-2">
                <div class="flex flex-col justify-center items-center">
                    <h6>{{deck.name}}</h6>
                </div>
                <div class="w-auto h-auto">
                    <img class="w-full h-full" src="assets/backcard.jpg" />
                </div>
                <div class="w-full flex flex-row justify-center items-center">
                    <div [routerLink]="deckdetails" [queryParams]="{ deckId: deck.id }" class="button-div1">
                        <span> Detalhes </span>
                    </div>
                    <div (click)="deleteDeck(deck.id)" class="button-div1">
                        <span> Apagar </span>
                    </div>
                </div>
            </div>

            }
        </div>
    </div>

</div>